$bgc-blue: rgb(37, 43, 61);
$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.7);
$black: #000;
$black-opacity: rgba(0, 0, 0, 0.493);
$silver-light: rgb(146, 146, 146);
$silver: rgb(63, 63, 63);
$red: rgb(230, 25, 25);
