@font-face {
  src: url('./../../fonts/PT_Sans/PTSans-Regular.ttf');
  font-family: 'PTSans';
  font-weight: 400;
}

@font-face {
  src: url('./../../fonts/PT_Sans/PTSans-Bold.ttf');
  font-family: 'PTSans';
  font-weight: 600;
}
